.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 4 colunas */
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;  /* Altura fixa para todos */
}

.product-card img {
  width: 100%;
  height: 200px;  /* Controla a altura da imagem */
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
  word-wrap: break-word;  /* Permite quebra de linha no título, se necessário */
  word-break: break-word; /* Faz com que palavras longas quebrem para caber na caixa */
  text-align: center;
  overflow-wrap: break-word;  /* Garante que o texto se ajuste sem estourar */
}

.product-card p {
  font-size: 0.95rem;
  color: #555;
  flex-grow: 1; /* Permite que o parágrafo cresça para preencher o espaço restante */
  text-align: center;
  overflow-wrap: break-word;  /* Garante que o texto dentro da descrição não quebre a caixa */
}

.product-card span {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Ajustes para responsividade */
@media screen and (max-width: 1024px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);  /* 4 colunas por linha */
  }
}

@media screen and (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);  /* 3 colunas por linha */
  }
}

@media screen and (max-width: 480px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);  /* 2 colunas por linha */
  }
}
